name: stylesync
description: A simple offline StyleSync salon app built with Flutter + sqflite + provider
publish_to: 'none'
version: 1.0.0+1

environment:
  sdk: '>=2.18.0 <3.0.0'

dependencies:
  flutter:
    sdk: flutter
  cupertino_icons: ^1.0.2
  provider: ^6.0.5
  sqflite: ^2.2.8
  path: ^1.8.3
  shared_preferences: ^2.1.1

flutter:
  uses-material-design: true
  assets:
    - assets/

